################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/getHtml1.0/getHtml/getHtml/bin/Debug
/getHtml1.0/getHtml/getHtml/obj/Debug
